# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Env / Secrets
.env
.env.*
*.env
*.env.*
.env.local
.env.production
.env.development

# DB/SQLite
*.sqlite
*.sqlite3
*.db
db/*.sqlite*
db.sqlite*

# Logs
logs/
*.log

# OS junk
.DS_Store
Thumbs.db
